// TODO add drop shadow 
// TODO change icons free 

.table {
    width: 100%;
    height: 90vh;
    border: 15px solid #3A4965;
    border-collapse: collapse;

    text-align: center;

    text-transform: uppercase;

    color: $textDarkGrey;

    &__header {
        font-weight: 800;
        background-color: $bgWhite;

        & th {
            padding: 15px 0;
            width: 25%;
            height: 80px;
        }

        & span {
            font-size: 21px;
        }

    }

    &__body {
        & tr {
            text-align: center;
        }

        & tr:nth-child(odd) {
            background-color: $bgLightGrey;
        }

        & tr:nth-child(even) {
            background-color: $bgGrey;
        }
    }

    &__footer {
        font-weight: 800;
        background-color: $bgWhite;

        & td {
            padding: 30px 0;
        }
    }
}

.background-color {
    color: $textWhite;

    &--green {
        background-color: $green;
    }

    &--red {
        background-color: $pink;
    }

    &--blue {
        background-color: $blue;
    }
}

.price {
    padding: 10px;
    font-size: 48px;
    font-weight: 400;
}

.price sup+sub {
    margin-left: -1.5em;

}

sub,
sup {
    font-size: 40%;
    font-weight: 400;
}

sub {
    vertical-align: baseline;
}


.table-shadow {
    // box-shadow: -1px 0 5px 2px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 20px;
    color: $textGrey;
    vertical-align: center;
}