// background color button
$blue: #1F7F7B;
$pink: #EF4955;
$green: #89C331;

// text color
$textWhite: #E9F3DA;
$textGrey: #787878;

// background color table
$bgWhite: #FAFAFA;
$bgLightGrey: #FAFAFA;
$bgGrey: #E3E3E3;