// background color button
$blue: #1F7F7B;
$pink: #EF4955;
$green: #89C331;

// text color
$textWhite: #FFFFFF;
$textGrey: #4D4D4D;

// background color table
$bgWhite: #F9F9F9;
$bgLightGrey: #F2F2F2;
$bgGrey: #E3E3E3;
$bgDarkGrey: #474747;