// background color button
$blue: #19767D;
$pink: #FF5A53;
$green: #85B52B;

// text color
$textWhite: #FFFFFF;
$textGrey: #838788;
$textDarkGrey: #474949;

// background color table
$bgWhite: #FFFFFF;
$bgLightGrey: #F2F2F2;
$bgGrey: #E3E3E3;
$bgDarkGrey: #4D4D4D;